extends ../form-layout

block form-section
  +form('register')
    +form_field('Email')(type="email", name="email", value=prev_email)
    +form_field('Username')(type="text", name="username", value=prev_username)
    +form_field('Password')(type="password", name="password")
    +form_field('Confirm Password')(type="password", name="confirmPassword")
    +submit_button('Sign Up')
block form-bottom
  a(href=loginURL)
    | Already have an account?
    strong  Log In
block gradient-section
  h1 Welcome!
  h2 Create an account to get started with ripple.fm
