extends ../layout

block content
  .card.form-card.gradient-bar
    .card-body
      .logo
        img(src="/images/logo.png")
        h3 ripple.fm
      form.register(action="register", method="POST")
        .form-group
          label(for="email") Email
          input.form-control(type="text", name="email" value=prev_email || '')
        .form-group
          label(for="username") Username
          input.form-control(type="text", name="username" value=prev_username || '')
        .form-group
          label(for="password") Password
          input.form-control(type="password", name="password")
        .form-group
          label(for="confirmPassword") Confirm Password
          input.form-control(type="password", name="confirmPassword")
        button.btn.btn-md.btn-primary.mt-4.float-right(type="submit") Sign Up
        a.float-left.mt-4.pt-2(href=loginURL) Already have an account?