version: '2'
services:
  redis:
    image: redis

  postgres:
    image: postgres
    environment:
      - "POSTGRES_DB=ripple_auth"
      - "POSTGRES_PASSWORD=secret"

  app:
    build: .
    command: yarn start
    links:
      - redis
      - postgres
    ports:
      - "3000:3000"
    volumes:
      - "./:/usr/app"
      - "/usr/app/node_modules"
      - "/usr/app/dist"
    environment:
      - "REDIS_HOST=redis"
      - "POSTGRES_URL=postgres://postgres:secret@postgres/ripple_auth"
      - "COOKIE_SECRET=secret"
