doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title ripple.fm
    script(src='/app.bundle.js')
    link(rel='stylesheet', href='/app.bundle.css')

  body
    include header

    .container
      block content
    
    include footer
