extends ../form-layout

block form-section
  +form('login')
    +form_field('Email or Username')(type="text", name="emailOrUsername", value=prev_emailOrUsername)
    +form_field('Password')(type="password", name="password")
    a.mt-4.pt-2.float-left(href="/forgot-password", tabindex="-1")
      small Forgot Password?
    +submit_button('Log In')
block form-bottom
  a(href=registerURL)
    | Don't have an account?
    strong  Sign Up
block gradient-section
  h1 Welcome back!
  h2 Log in to continue to ripple.fm
