.messages,
.alert {
  width: 100%;
}

.alert {
  color: $brand-primary;
  background: #ef53501e;
  border: 1px solid $brand-primary;
}

.alert::first-letter {
  text-transform: uppercase;
}

@media (max-width: $xs-breakpoint) {
  .messages {
    width: 100%;
  }
}
