.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 16px 0px 32px 0px;

  & img {
    height: 64px;
    width: auto;
    margin-right: 20px;
  }

  & h3 {
    margin-top: 8px;
    font-size: 2em;
    letter-spacing: 0.05em;
    font-weight: bolder;
  }
}
